body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.text-form {
  font-size: 16px;
  color: rgb(114, 114, 114);
}

.table>:not(caption)>*>* {
  background-color: #c8d1ff70 !important;
}

.table {
  --bs-table-color: #555555 !important;
}

.urgent {
  padding: 5px 20px;
  color: #ffff;
  font-weight: 600;
  background-color: rgb(243, 22, 77) !important;
  border-color: rgb(243, 22, 77);
  border-radius: 5px;
}

.regular {
  padding: 5px 18px;
  color: #ffff;
  font-weight: 600;
  background-color: rgb(255, 196, 0) !important;
  border-color: rgb(255, 196, 0);
  border-radius: 5px;
}

.trivial {
  padding: 5px 25px;
  color: #ffff;
  font-weight: 600;
  background-color: #0d6efd !important;
  border-color: #0d6efd;
  border-radius: 5px;
}

.btn-action {
  background-color: rgb(177, 177, 177) !important;
  border-color: rgb(177, 177, 177);
}

.sr-only {
  display: none !important;
}

.react-bootstrap-table>table>thead>tr>th .filter {
  font-weight: 500 !important;
  /* margin: -80px 0px; */
}

.btn-primary {
  font-weight: 500 !important;
  font-size: 18px !important;
}

.form-label {
  color: rgb(143, 143, 143) !important;
}

.btn-save {
  color: #ffff;
  background-color: rgb(243, 22, 77) !important;
  border-color: rgb(243, 22, 77);
}